@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";

:root {
    --ff-accent: ['Roboto', 'sans-serif'];

    --extra-bold: 700;
    --bold: 600;
    --regular: 500;

    --size-large: 3.75rem;
    --size-medium: 2.125rem;
    --size-medium-small: 1.25rem;
    --size-small: 1rem;
    --size-very-small: 0.875rem;
}

body {
    font-family: var(--ff-accent);
}