@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Roboto';
  src: url('../src/assets/fonts/Roboto_Condensed-BoldItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto_Condensed-ExtraBoldItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto_Condensed-ExtraLightItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto_Condensed-LightItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto_Condensed-MediumItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto_Condensed-SemiBoldItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto_Condensed-ThinItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto_SemiCondensed-BlackItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto_SemiCondensed-Bold.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto_SemiCondensed-BoldItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto_SemiCondensed-ExtraBold.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto_SemiCondensed-ExtraBoldItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto_SemiCondensed-ExtraLightItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto_SemiCondensed-MediumItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto_SemiCondensed-SemiBoldItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto_SemiCondensed-ThinItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto-BlackItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto-Black.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto-BoldItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto-ExtraBold.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto-ExtraBoldItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto-Italic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto-LightItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto-MediumItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto-SemiBoldItalic.ttf') format('truetype');
  src: url('../src/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@theme {
  --font-inter:'Roboto', sans-serif;
}

@import "tailwindcss";

:root {
    --ff-accent: "Roboto";

    --extra-bold: 700;
    --bold: 600;
    --regular: 500;

    --size-large: 3.75 rem;
    --size-medium: 2.125 rem;
    --size-medium-small: 1.25 rem;
    --size-small: 1 rem;
    --size-very-small: 0.875 rem;
}

@font-face {
    font-family: 'Roboto';
    src:
        url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Manjari:wght@100;400;700&family=Marko+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
}